/*  
===============================================================================================================================
====	button
===============================================================================================================================	
*/

@button-colour: #009ED8;
@button-text: #ffffff;
@regular-text: #333;
@button-tint: fadeout(#000, 90%);
@background: #303036;

.button {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	background: @button-colour;
	border: none;
	color: white;
	transition: .2s;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		
		transition: .2s;
		transform-origin: 50% 60%;
	}
	&:before {
		background: @button-tint;
	}
	&:hover {
		background: darken(@button-colour, 10%);
	}
	&:active,
	&:focus {
		background: darken(@button-colour, 30%);
		outline: none;
	}
}

.button {
	min-width: 15em;
}

.arrow {
	background: #fc736a;
	&:hover {
		background: darken(#FE5F55, 10%);
	}
	&:active,
	&:focus {
		background: darken(#FE5F55, 30%);
	}
	&:after {
		content: "\F054";
	}
	&:hover:after {
		-webkit-animation: bounceright .3s alternate ease infinite;
		animation: bounceright .3s alternate ease infinite;
	}
}

.phone { 
	background: #139675;
	&:hover {
		background: darken(#139675, 10%);
	}
	&:active,
	&:focus {
		background: darken(#139675, 20%);
	}
	&:after {
		content: "\F095";
	}
	&:hover:after {
		-webkit-animation: wiggle .05s alternate ease infinite;
		animation: wiggle .05s alternate ease infinite;
	}
}

.email {
	background: #C673B3;
	&:hover {
		background: darken(#C673B3, 10%);
	}
	&:active,
	&:focus {
		background: darken(#C673B3, 20%);
	}
	&:after {
		content: "\F0E0";
	}
	&:hover:after {
		-webkit-animation: none;
		-webkit-transform: skew(-20deg);
		animation: none;
		transform: skew(-20deg);
		text-indent: .1em;
	}
}

.search {
	&:after {
		content:"\f002";
	}
	&:hover:after {
		-webkit-animation: none;
		-webkit-transform: scale(1.4);
		animation: none;
		transform: scale(1.4);
	}
}


@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
	from { transform: translateX(0); }
	to   { transform: translateX(3px); }
}

@keyframes wiggle {
	from { transform: rotate(0deg); }
	to   { transform: rotate(30deg); }
}

.nav-item {
	cursor:pointer;
	
}

.wrap-container {
	
	text-align: center;
}

/*
============================================================================================================================
====	pagination
============================================================================================================================
*/

.pagination-flex {
	margin: auto;
	width: 35%;
	height: 80px;
	line-height: 50px;
	background-color: white;
}
	
.pagination-flex > ul {
	display: flex;
	padding: 0;
	margin: 0;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 255, .2);
}	

.pagination-flex > ul > a {
	flex: 1;
	list-style: none;
	text-align: center;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	transition: 0.2s ease;
	cursor: pointer;
	user-select: none;
}
	
.pagination-flex > ul > a:hover {
	background-color: #fbd5e7;
	color: #f564a9;	
}	
	
.pagination-bar {
	width: 9.1%;
	background-color: #f564a9;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.2s ease;
}

.on_active {
	width: 9.1%;
	border-bottom : #f564a9 5px solid;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.2s ease;
}

/*
============================================================================================================
====	table
============================================================================================================
*/

.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-table100 {
	width: 100%;
	/*   min-height: 100vh; */
	/*   background: #c4d3f6; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 60px 30px;
}

.wrap-table100 {
	width: 960px;
	border-radius: 10px;
	overflow: hidden;
}

.table {
	width: 100%;
	display: table;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.table {
		display: block;
	}
}

.table-row {
	display: table-row;
	background: #fff;
}

.table-row.header {
	color: #ffffff;
	background: #6c7ae0;
}

@media screen and (max-width: 768px) {
	.table-row {
		display: block;
	}
	.table-row.header {
		padding: 0;
		height: 0px;
	}
	.table-row.header .cell {
		display: none;
	}
	.table-row .cell:before {
		font-family: Poppins-Bold;
		font-size: 12px;
		color: #808080;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: unset !important;
		margin-bottom: 13px;
		content: attr(data-title);
		min-width: 98px;
		display: block;
	}
}

.cell {
	display: table-cell;
}

@media screen and (max-width: 768px) {
	.cell {
		display: block;
	}
}

.table-row .cell {
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #666666;
	line-height: 1.2;
	font-weight: unset !important;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
}

.table-row.header .cell {
	font-family: Poppins-Regular;
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset !important;
	padding-top: 19px;
	padding-bottom: 19px;
}

.table-row .cell:nth-child(1) {
	width: 110px;
}

.table-row .cell:nth-child(2) {
	width: 610px;
	text-align: left;
}

.table-row .cell:nth-child(3) {
	width: 100px;
}

.table-row .cell:nth-child(4) {
	width: 100px;
}

.table-row .cell:nth-child(5) {
	width: 100px;
}

.table, .table-row {
	width: 100% !important;
}

.table-row.content {
	border-bottom: 1px #d7d7fa solid;
}

.table-row.content:hover {
	background-color: #d7d7fa;
	cursor: pointer;
}

@media ( max-width : 768px) {
	.table-row {
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 18px;
		padding-top: 30px;
		padding-right: 15px;
		margin: 0;
	}
	.table-row .cell {
		border: none;
		padding-left: 30px;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.table-row .cell:nth-child(1) {
		padding-left: 30px;
	}
	.table-row .cell {
		font-family: Poppins-Regular;
		font-size: 18px;
		color: #555555;
		line-height: 1.2;
		font-weight: unset !important;
	}
	.table, .table-row, .cell {
		width: 100% !important;
	}
}

/*
============================================================================================================
====	plus button
============================================================================================================
*/
.icon-btn {
	margin-bottom: 20px;
	float: right;
	width: 50px;
	height: 50px;
	border: 1px solid #6c7ae0;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
	cursor: pointer;
}

.add-btn:hover {
	width: 120px;
}

.add-btn::before, .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: #6c7ae0;
}

.add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.icon-btn:focus {
	outline: none;
}

.btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
}

.add-btn:hover::before, .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
}

.add-btn:hover .btn-txt {
	opacity: 1;
}

.add-icon::after, .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: #6c7ae0;
	overflow: hidden;
}

.add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

/*
============================================================================================================
====	ins form
============================================================================================================
*/

.form-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 30px -10px 30px -10px;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
	.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
	.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5,
	.col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6,
	.col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8,
	.col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
	.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
	.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12,
	.col-lg-12 {
	position: relative;
	min-height: 1px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.x_panel {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 17px;
	display: inline-block;
	background: #fff;
	border: 1px solid #E6E9ED;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	transition: all .2s ease;
}

.x_title {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 10px;
}

.x_content {
	padding: 0 3px 6px;
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	margin-top: 5px;
}

span.section {
	padding-left: 37px;
	padding-bottom: 20px;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

form {
	display: block;
	margin-top: 0em;
}

.form-horizontal {
	width: 50%;
	margin: auto;
}

.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

.item {
	display: -ms-flexbox;
	display: flex;
}

.form-group {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
}

.label-align {
	text-align: right;
}

.col-form-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	color: #6c7ae0;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.div_box {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #f00;
	color: #fff;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px; /*margin:auto를 이용해도 동일*/
}

/*
	============================================================================================================================
*/
